*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background-color: #ebebf3;
  display: grid;
  place-items: center;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
}
.header {
  text-align: center;
  color: #0c1226;
  margin-bottom: 4rem;
  font-size: 2rem;
}
.colorp {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 2rem;
  margin-bottom: 5rem;
}
.card {
  border-radius: 10px;
  padding: 0.75rem;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 0 4px rgba(0, 0, 0, 0.1);
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px rgba(0, 0, 0, 0.1);
}
.card__color {
  background: #f9aca7;
  width: 190px;
  height: 250px;
  border-radius: 5px;
  margin-bottom: 1.25rem;
}

.card__color--code {
  text-align: center;
  font-size: 1.5rem;
}
.action__container {
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);
}
.action__container--btn {
  width: 100%;
  cursor: pointer;
  background: #7e6cca;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  border: none;
  padding: 1.5rem;
  box-shadow: 0 6px 20px #7e6cca;
  border-radius: 5px;
  margin-bottom: 1.25rem;
}
.action__container--text {
  color: #0c1226;
  margin-bottom: 6rem;
}
.action__container--info {
  background-color: #fff;
  color: #0c1226;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  white-space: nowrap;
}

@media screen and (max-width: 1160px) {
  .colorp {
    flex-wrap: wrap;
  }
}
